name: CI

on:
  - push
  - pull_request

jobs:
  lint:
    name: Lint Check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: Gr1N/setup-poetry@v4

    - run: sudo apt update
    - run: sudo apt install python3-pip python3-cachecontrol tox
    - run: tox -e lint

  unit:
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: Gr1N/setup-poetry@v4

    - run: sudo apt update
    - run: sudo apt install python3-pip python3-cachecontrol tox
    - run: tox -e unit
